**Disease Prediction by System Using Supervised Machine Leaerning**

Group Members:

1. M Satya Sai Teja
2. Shubhanshu
3. Mohit Gupta
4. M S K Chaitanya
5. Akshat
6. Vidhan Chandra Ray


This Machine Learning Model basically predicts diseases based on symptoms

In [ ]:
!unzip archive.zip

Archive:  archive.zip
  inflating: Testing.csv
  inflating: Training.csv

In [249]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [267]:
from sklearn.metrics import accuracy_score

In [302]:
train = pd.read_csv("Training.csv")

In [303]:
train.head(5)

,itching,skin_rash,nodal_skin_eruptions,continuous_sneezing,shivering,chills,joint_pain,stomach_pain,acidity,ulcers_on_tongue,...,scurring,skin_peeling,silver_like_dusting,small_dents_in_nails,inflammatory_nails,blister,red_sore_around_nose,yellow_crust_ooze,prognosis,Unnamed: 133
0,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Fungal infection,NaN
1,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Fungal infection,NaN
2,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Fungal infection,NaN
3,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Fungal infection,NaN
4,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Fungal infection,NaN

In [304]:
# Lets Remove NAN values in the last column

train = train.iloc[:, :-1]
train.head(5)

,itching,skin_rash,nodal_skin_eruptions,continuous_sneezing,shivering,chills,joint_pain,stomach_pain,acidity,ulcers_on_tongue,...,blackheads,scurring,skin_peeling,silver_like_dusting,small_dents_in_nails,inflammatory_nails,blister,red_sore_around_nose,yellow_crust_ooze,prognosis
0,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Fungal infection
1,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Fungal infection
2,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Fungal infection
3,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Fungal infection
4,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Fungal infection

In [305]:
test = pd.read_csv("Testing.csv")

In [306]:
test.head(5)

,itching,skin_rash,nodal_skin_eruptions,continuous_sneezing,shivering,chills,joint_pain,stomach_pain,acidity,ulcers_on_tongue,...,blackheads,scurring,skin_peeling,silver_like_dusting,small_dents_in_nails,inflammatory_nails,blister,red_sore_around_nose,yellow_crust_ooze,prognosis
0,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Fungal infection
1,0,0,0,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Allergy
2,0,0,0,0,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,GERD
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Chronic cholestasis
4,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Drug Reaction

In [307]:
# Now, Lets split the features and labels of train data and test data 

train_features = train.iloc[:, :-1].values
train_labels = train.iloc[:, -1].values

test_features = test.iloc[:, :-1].values
test_labels = test.iloc[:, -1].values

In [308]:
# Lets view train features

train_features = pd.DataFrame(train_features)
train_features.head(5)

,0,1,2,3,4,5,6,7,8,9,...,122,123,124,125,126,127,128,129,130,131
0,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [309]:
# Lets view train labels

train_labels = pd.DataFrame(train_labels)
train_labels.head(5)

                  0
0  Fungal infection
1  Fungal infection
2  Fungal infection
3  Fungal infection
4  Fungal infection

In [310]:
# Lets view test features

test_features = pd.DataFrame(test_features)
test_features.head(5)

,0,1,2,3,4,5,6,7,8,9,...,122,123,124,125,126,127,128,129,130,131
0,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [311]:
# # Lets view test labels

test_labels = pd.DataFrame(test_labels)
test_labels.head(5)

                     0
0     Fungal infection
1              Allergy
2                 GERD
3  Chronic cholestasis
4        Drug Reaction

In [312]:
# Lets Encode the labels in train and test data

from sklearn.preprocessing import LabelEncoder
from numpy import ravel

# Use Ravel to convert the target variable from 2D column vector to 1D array

encoder = LabelEncoder()

train_labels = ravel(encoder.fit_transform(train.iloc[:, -1]))
test_labels = ravel(encoder.transform(test.iloc[:, -1]))

In [313]:
# Encoded train labels

train_labels = pd.DataFrame(train_labels)
train_labels.head(5)

    0
0  15
1  15
2  15
3  15
4  15

In [314]:
# Encoded test labels

test_labels = pd.DataFrame(test_labels)
test_labels.head(5)

    0
0  15
1   4
2  16
3   9
4  14

In [315]:
# First, Lets Implement Support Vector Machine

from sklearn.svm import SVC

SVM = SVC(kernel = 'linear')

In [318]:
# Lets prepare SVM model using training features and labels

SVM.fit(train_features, train_labels)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='linear')

In [319]:
# Lets predict the test labels for test features

test_labels_pred = SVM.predict(test_features)

In [320]:
# Check the accuracy

SVM_accuracy = accuracy_score(test_labels, test_labels_pred)

print("SVM Accuracy : ", SVM_accuracy)

SVM Accuracy :  1.0

In [321]:
# Lets implement Naive Bayes Model

from sklearn.naive_bayes import GaussianNB

NB = GaussianNB()

In [322]:
# Lets prepare NB model using training features and labels

NB.fit(train_features, train_labels)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [323]:
# Lets predict the test labels for test features

test_labels_pred = NB.predict(test_features)

In [330]:
# Check the accuracy

NB_accuracy = accuracy_score(test_labels, test_labels_pred)

print("NB Accuracy : ", NB_accuracy)

NB Accuracy :  1.0

In [325]:
# Lets implement Logistic Regression

from sklearn.linear_model import LogisticRegression

LR = LogisticRegression()

In [326]:
# Lets prepare LR model using training features and labels

LR.fit(train_features, train_labels)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [327]:
# Lets predict the test labels for test features

test_labels_pred = LR.predict(test_features)

In [329]:
# Check the accuracy

LR_accuracy = accuracy_score(test_labels, test_labels_pred)

print("LR Accuracy : ", LR_accuracy)

LR Accuracy :  1.0

We Observe that we are getting 100% accuracy in all the three cases