**Disease Prediction by System Using Supervised Machine Learning**

Group Members:

1. M Satya Sai Teja
2. Shubhanshu
3. Mohit Gupta
4. M S K Chaitanya
5. Akshat
6. Vidhan Chandra Ray


This Machine Learning Model basically predicts diseases based on symptoms.

In [ ]:
!unzip archive.zip

Archive:  archive.zip
  inflating: Testing.csv
  inflating: Training.csv

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [ ]:
train = pd.read_csv("Training.csv")

In [ ]:
train.head(5)

,itching,skin_rash,nodal_skin_eruptions,continuous_sneezing,shivering,chills,joint_pain,stomach_pain,acidity,ulcers_on_tongue,...,scurring,skin_peeling,silver_like_dusting,small_dents_in_nails,inflammatory_nails,blister,red_sore_around_nose,yellow_crust_ooze,prognosis,Unnamed: 133
0,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Fungal infection,NaN
1,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Fungal infection,NaN
2,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Fungal infection,NaN
3,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Fungal infection,NaN
4,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Fungal infection,NaN

In [ ]:
# Lets Remove NAN values in the last column

train = train.iloc[:, :-1]
train.head(5)

,itching,skin_rash,nodal_skin_eruptions,continuous_sneezing,shivering,chills,joint_pain,stomach_pain,acidity,ulcers_on_tongue,...,blackheads,scurring,skin_peeling,silver_like_dusting,small_dents_in_nails,inflammatory_nails,blister,red_sore_around_nose,yellow_crust_ooze,prognosis
0,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Fungal infection
1,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Fungal infection
2,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Fungal infection
3,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Fungal infection
4,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Fungal infection

In [ ]:
test = pd.read_csv("Testing.csv")

In [ ]:
test.head(5)

,itching,skin_rash,nodal_skin_eruptions,continuous_sneezing,shivering,chills,joint_pain,stomach_pain,acidity,ulcers_on_tongue,...,blackheads,scurring,skin_peeling,silver_like_dusting,small_dents_in_nails,inflammatory_nails,blister,red_sore_around_nose,yellow_crust_ooze,prognosis
0,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Fungal infection
1,0,0,0,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Allergy
2,0,0,0,0,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,GERD
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Chronic cholestasis
4,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Drug Reaction

In [ ]:
# Now, Lets split the features and labels of train data and test data 

train_features = train.iloc[:, :-1].values
train_labels = train.iloc[:, -1].values

test_features = test.iloc[:, :-1].values
test_labels = test.iloc[:, -1].values

In [ ]:
# Lets view train features

train_features = pd.DataFrame(train_features)
train_features.head(5)

,0,1,2,3,4,5,6,7,8,9,...,122,123,124,125,126,127,128,129,130,131
0,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# Lets view train labels

train_labels = pd.DataFrame(train_labels)
train_labels.head(5)

                  0
0  Fungal infection
1  Fungal infection
2  Fungal infection
3  Fungal infection
4  Fungal infection

In [ ]:
# Lets view test features

test_features = pd.DataFrame(test_features)
test_features.head(5)

,0,1,2,3,4,5,6,7,8,9,...,122,123,124,125,126,127,128,129,130,131
0,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# # Lets view test labels

test_labels = pd.DataFrame(test_labels)
test_labels.head(5)

                     0
0     Fungal infection
1              Allergy
2                 GERD
3  Chronic cholestasis
4        Drug Reaction

In [ ]:
# Lets Encode the labels in train and test data

from sklearn.preprocessing import LabelEncoder
from numpy import ravel

# Use Ravel to convert the target variable from 2D column vector to 1D array

encoder = LabelEncoder()

train_labels = ravel(encoder.fit_transform(train.iloc[:, -1]))
test_labels = ravel(encoder.transform(test.iloc[:, -1]))

In [ ]:
# Encoded train labels

train_labels = pd.DataFrame(train_labels)
train_labels.head(5)

    0
0  15
1  15
2  15
3  15
4  15

In [ ]:
# Encoded test labels

test_labels = pd.DataFrame(test_labels)
test_labels.head(5)

    0
0  15
1   4
2  16
3   9
4  14

**Implementing Support Vector Machine**

In [ ]:
# First, Lets Implement Support Vector Machine

from sklearn.svm import SVC

SVM = SVC(kernel = 'linear')

In [ ]:
# Lets prepare SVM model using training features and labels

SVM.fit(train_features, train_labels)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='linear')

In [ ]:
# Lets predict the test labels for test features

SVM_test_labels_pred = SVM.predict(test_features)

In [ ]:
# Check the accuracy

SVM_accuracy = accuracy_score(test_labels, SVM_test_labels_pred)

print("SVM Accuracy : ", SVM_accuracy)

SVM Accuracy :  1.0

In [ ]:
# Precision

SVM_precision = precision_score(test_labels, SVM_test_labels_pred, average = 'macro')

print("SVM Precison : ", SVM_precision)

SVM Precison :  1.0

In [ ]:
# Recall

SVM_recall = recall_score(test_labels, SVM_test_labels_pred, average='macro')

print("SVM Recall : ", SVM_recall)

SVM Recall :  1.0

In [ ]:
# F1 - Score

SVM_f1 = f1_score(test_labels, SVM_test_labels_pred, average='macro')

print("SVM F1 Score : ", SVM_f1)

SVM F1 Score :  1.0

**Implementing Naive Bayes Model**

In [ ]:
# Lets implement Naive Bayes Model

from sklearn.naive_bayes import GaussianNB

NB = GaussianNB()

In [ ]:
# Lets prepare NB model using training features and labels

NB.fit(train_features, train_labels)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [ ]:
# Lets predict the test labels for test features

NB_test_labels_pred = NB.predict(test_features)

In [ ]:
# Check the accuracy

NB_accuracy = accuracy_score(test_labels, NB_test_labels_pred)

print("NB Accuracy : ", NB_accuracy)

NB Accuracy :  1.0

In [ ]:
# Precision

NB_precision = precision_score(test_labels, NB_test_labels_pred, average = 'macro')

print("NB Precison : ", NB_precision)

NB Precison :  1.0

In [ ]:
# Recall

NB_recall = recall_score(test_labels, NB_test_labels_pred, average='macro')

print("NB Recall : ", NB_recall)

NB Recall :  1.0

In [ ]:
# F1 - Score

NB_f1 = f1_score(test_labels, NB_test_labels_pred, average='macro')

print("NB F1 Score : ", NB_f1)

NB F1 Score :  1.0

**Implementing Logistic Regression**

In [ ]:
# Lets implement Logistic Regression

from sklearn.linear_model import LogisticRegression

LR = LogisticRegression()

In [ ]:
# Lets prepare LR model using training features and labels

LR.fit(train_features, train_labels)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [ ]:
# Lets predict the test labels for test features

LR_test_labels_pred = LR.predict(test_features)

In [ ]:
# Check the accuracy

LR_accuracy = accuracy_score(test_labels, LR_test_labels_pred)

print("LR Accuracy : ", LR_accuracy)

LR Accuracy :  1.0

In [ ]:
# Precision

LR_precision = precision_score(test_labels, LR_test_labels_pred, average = 'macro')

print("LR Precison : ", LR_precision)

LR Precison :  1.0

In [ ]:
# Recall

LR_recall = recall_score(test_labels, LR_test_labels_pred, average='macro')

print("LR Recall : ", LR_recall)

LR Recall :  1.0

In [ ]:
# F1 - Score

LR_f1 = f1_score(test_labels, LR_test_labels_pred, average='macro')

print("LR F1 Score : ", LR_f1)

LR F1 Score :  1.0

**Implementing K Nearest Neighbour Algorithm**

In [ ]:
# Lets implement KNN Algorithm

from sklearn.neighbors import KNeighborsClassifier

KNN = KNeighborsClassifier(n_neighbors=5)

In [ ]:
KNN.fit(train_features, train_labels)

/usr/local/lib/python3.8/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier()

In [ ]:
KNN_test_labels_pred = KNN.predict(test_features)

In [ ]:
# Accuracy

KNN_accuracy = accuracy_score(test_labels, KNN_test_labels_pred)

print("KNN Accuracy : ", KNN_accuracy)

KNN Accuracy :  1.0

In [ ]:
# Precision

KNN_precision = precision_score(test_labels, KNN_test_labels_pred, average = 'macro')

print("KNN Precison : ", KNN_precision)

KNN Precison :  1.0

In [ ]:
# Recall

KNN_recall = recall_score(test_labels, KNN_test_labels_pred, average='macro')

print("KNN Recall : ", KNN_recall)

KNN Recall :  1.0

In [ ]:
# F1 - Score

KNN_f1 = f1_score(test_labels, KNN_test_labels_pred, average='macro')

print("KNN F1 Score : ", KNN_f1)

KNN F1 Score :  1.0

**Implementing Decision Tree Algorithm**

In [ ]:
# Lets implement Decision Tree

from sklearn.tree import DecisionTreeClassifier

DT = DecisionTreeClassifier()

In [ ]:
DT.fit(train_features, train_labels)

DecisionTreeClassifier()

In [ ]:
DT_test_labels_pred = DT.predict(test_features)

In [ ]:
# Accuracy

DT_accuracy = accuracy_score(test_labels, DT_test_labels_pred)

print("DT Accuracy : ", DT_accuracy)

DT Accuracy :  0.9761904761904762

In [ ]:
# Precision

DT_precision = precision_score(test_labels, DT_test_labels_pred, average = 'macro')

print("DT Precison : ", DT_precision)

DT Precison :  0.9878048780487805

In [ ]:
# Recall

DT_recall = recall_score(test_labels, DT_test_labels_pred, average='macro')

print("DT Recall : ", DT_recall)

DT Recall :  0.9878048780487805

In [ ]:
# F1 - Score

DT_f1 = f1_score(test_labels, DT_test_labels_pred, average='macro')

print("DT F1 Score : ", DT_f1)

DT F1 Score :  0.9837398373983739